# Dependencies
node_modules
/npm-debug.log

# Build outputs
.next
out
build

# IDEs and editors
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.trae

# Local env files
.env*.local

# Git
.git
.github
.gitignore

# Cache
.cache
.npm-cache
package-lock.json
pnpm-lock.yaml
